:root{
    --primary-clr-100: hsl(31, 77%, 52%);
    --primary-clr-400: hsl(184, 100%, 22%);
    --primary-clr-900: hsl(179, 100%, 13%);

    /* Neutral Colors */
    --neutral-clr-light: hsla(0, 0%, 100%, 0.75);
    --neutral-clr-text: hsl(0, 0%, 95%);

    /* Font Families */
    --font-fam-1: 'Lexend Deca', sans-serif;
    --font-fam-2: 'Big Shoulders Display', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

img{
    display: inline-block;
}

a{
    text-decoration: none;
}

.card-container{
    margin: 50px 5%;
    max-width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.card{
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sedans{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--primary-clr-100);
}

.suvs{
    background-color: var(--primary-clr-400);
}

.luxury{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--primary-clr-900);
}

.img-wrapper{
    margin-top: 10px;
    margin-bottom: 25px;
}

.card h1{
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: var(--font-fam-2);
    color: var(--neutral-clr-text);
}

.card p{
    padding-right: 8px;
    font-family: var(--font-fam-1);
    color: var(--neutral-clr-light);
}

.card a{
    margin-top: 25px;
    padding: 15px;
    width: 150px;
    text-align: center;
    font-family: var(--font-fam-1);
    border: 2px solid var(--neutral-clr-text);
    border-radius: 25px;
    background: var(--neutral-clr-text);
    display: inline;
}

.card a:hover,
.card a:focus{
    background: transparent;
    color: var(--neutral-clr-text);
}

.sedans a{
    color: var(--primary-clr-100);
}

.suvs a{
    color: var(--primary-clr-400);
}

.luxury a{
    color: var(--primary-clr-900);
}

.attribution { 
    font-size: 11px;
     text-align: center;
 }

.attribution a { 
    color: hsl(228, 45%, 44%);
 }

@media only screen and (min-width: 425px){
    .card-container{
        grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    }
}

@media only screen and (min-width: 800px){

    .card-container{
        margin: 150px 20%;
        grid-template-rows: 1fr;
        grid-template-columns: auto(auto-fit, minmax(250px, 350px));
        grid-auto-flow: column;
    }

    .card a{
        margin-top: 45px;
    }

    .sedans{
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;
    }
    
    .luxury{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
    }

}
